 /* RESET css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* -----------------Trước khi code
1.Vị trí
2.kích thước
3.Màu sắc
4.Kiểu dáng : kiểu chữ, hình tròn vuông...
*/

/* --------------------Cách code
1.Từ trên xuống dưới
2. Từ ngoài vào trong
3. Từ tổng quan đến chi tiết

*/
.text-white{
    color: white!important;
}
.clear{
    clear:both;
}
/* -----------------HEADER------------------- */
#header{
 height:46px;
 background-color: black;
 position: fixed;
 z-index: 1;
 top:0;
 right:0;
 left:0;

}

#nav, .subnav{
    list-style-type: none;
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    
    position: relative;
}

#nav li:hover   {
    color: #000!important;
    background-color: #ccc!important;
}

#nav > li > a{
    color:white;
    text-transform: uppercase;
    line-height: 46px;
}

#nav li a{
    text-decoration: none;
    padding: 0 24px;
    font-family: sans-serif;
    display: inline-block;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute ;
    top: 100%; left:0;
    background-color: white;
    box-shadow:0 0 10px #444;
}

#nav  li:hover .subnav{
    display: block;
} 

#nav .subnav a{
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

#nav .more-arrow{
    font-size: 10px;

}

#header .search-button{
    float: right;
    cursor: pointer;
}

#header .search-button:hover{
    background-color: red;
    
}
#header .search-icon{
    font-size: 20px;
    color: white;
    line-height: 46px;
    padding: 0 20px;

}



/* ------------------SLIDER------------------- */
#slider{
    position: relative;
    z-index: 0;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider.jpg) top center / cover no-repeat;
}

.slider-heading{
    color: white;
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.slider-content{
    margin-top: 25px;
}


/* --------------------CONTENT------------------- */


#content .content-section{
    width: 800px;
    margin: auto;
    padding: 60px 0;
}

.content-header{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
.content-subheader{
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    color: rgba(100, 100, 100, 0.7);
}

/* -------------- Band----- */

#band-content{
    margin-top: 15px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    

}
#content .team{
    margin-top: 100px;
    overflow: hidden;
}
#content .team .member{
    float: left;
    width: calc(100%/3);
    text-align: center;
}
#content h3.member-name{
    
    font-size: 10px;
}
#content .member-img
{
    width: 165px;
    border-radius: 4px;
    margin-top: 15px;
}
/* -----------TOUR------------ */


.tour-section{
    background-color: black;
}

.book-list{
    background-color: white;
    margin-top: 40px;
    margin-bottom: 25px;

}

.book-list .book-item{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.book-list .sold-out{
    background-color: #f44336;
    color: white;
    padding: 2px 5px;
    margin-left: 20px;
}

.book-list .ticket-numbers{
    float: right;
    color: white;
    width: 24px;
    height: 24px;
    margin-top: -2px;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
}

.tour-location-lists{
    margin: 0 -8px;
    padding-bottom: 45px;
}
.tour-location{
    width: calc(100%/3);
    float: left;
    padding: 0 8px;
   
}

.location-detail{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}
.place-img{
    width: 100%;
    display: block;
    
}
.place-img:hover{
    opacity: 0.6;
}

.location-time{
    margin: 16px 0;
    opacity: 0.8;
}
.location-desc{
   margin-bottom: 15px;
}
.buy{
    padding: 5px 9px;
    background-color: #000;
    color: white;
    text-decoration: none;
    display: inline-block;
    
}

.buy:hover{
    color: #000;
    background-color: #ccc;
}

.model{
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0,0, 0.7);
    display: none;
    
}

.model.open{
    display: flex;
}

.model-container{
    background-color: white;
    width: 900px;
    min-height: 475px;
    position: relative;
    

}

.model-container header{
    width: 100%;
    height: 130px;
    line-height: 130px;
    text-align: center;
    background-color: #009688;
    color: white;
    font-weight: 400;
    font-size: 40px;
}

.model-container .ti-close{
    position: absolute;
    top:0;
    right:0;
    width: 42px;
    height: 42px;
    line-height: 42px; text-align: center;
    color: white;
    cursor: pointer;
}
.model-body #pay-order:hover,
.model-container .ti-close:hover{
    background-color: #ccc;
    color:black;
}
.model-container .model-body{
    padding: 16px;
}
.label{
    display: block;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.input{
    width: 100%;
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px ;
}

.model-footer{
    text-align: right;
    padding: 16px;
    color: #2196f3;
}
.model-body #pay-order{
    width: 100%;
    height: 45px;
    background-color: #009688;
    color: white;
    border-style: none;
}

/* -----------CONTACT---------- */
#contact{

}



#footer{

}
